h1 {

    color:  #F245DE;
    
}

.main_header {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

html {

    background-color: #fefbd8;
}

h2, h3 {

    color:  #F245DE;
}

nav {

    text-align: center;
    padding: 30px;
    background-color: #3fc5d4;
}

.course_nav {

    background-color: #c4f1f6 ;
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
}

.school_nav {
    background-color: #c4f1f6 ;
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
}