html {

    background-color: #fefbd8;
    scroll-behavior: smooth;
}

h1 {

    color:  #F245DE;
    
}

h2, h3 {

    color: #F245DE;
}

header {

    text-align: center;
    padding: 30px;
    background-color: #3fc5d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main_header {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.nav_links {

    background-color: #c4f1f6 ;
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
}

.about-me {

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px repeat(3, 1fr);

}

.about-header{
    grid-row: 1/4;
    grid-column: 1;

}

.about-image{
    grid-column: 2;
    grid-row: 2/4;

}

.about-paragraph1{
    grid-column: 1/2;
    grid-row: 2/4;

}

.about-paragraph2{
    grid-column: 1/2;
    grid-row: 4;

}